body{
    background: #e3e6e6;
}
.a{
    border: 2px solid white;
    width: 300px;
    height: 500px;
    float: left;
    margin: 33px;
    background: white;
}
.b{
    border: 5px solid red;
    background: black;
    text-align: center;
    color: white;
    font-size: 50px;
}
.btn{
    width: 136px;
    height: 34px;
    background: linear-gradient(to right,red,yellow);
    color: white;
    border: none;
    border-radius: 13px;
    font-size: 14px;
}
.btn:hover{
    background:linear-gradient(to right,green,blue);
    
}